:root {
  --primary-color: #011627;
  --secondary-color: #334452;
  --highlight-color: #e71d36;
  --text-default-color: #757575;
  --text-white-color: #f4f4f4;
}
.app-wrapper {
  background-color: var(--secondary-color);
}
.app {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
