.main {
  width: 75%;
  margin-left: 25%;
  min-height: 100vh;
  position: relative;
  display: block;
}
.content-frame {
  position: fixed;
  width: inherit;
  height: 100vh;
  border: 3rem solid var(--secondary-color);
  pointer-events: none;
}

.section {
  width: 100%;
  background-color: var(--text-white-color);
}

.home-section {
  @extend .section;
  display: grid;
  grid-template-columns: 4fr 6fr;
  padding: 7rem 6rem 0 6rem; // should cover content-frame border;
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
    margin: 15rem 0;
  }
  &__hello {
    color: var(--highlight-color);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  &__name {
    color: var(--primary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
  }
  &__divider {
    width: 3.5rem;
    border-bottom: 2px solid var(--highlight-color);
    margin: 4rem 0;
  }
  &__position {
    color: var(--text-default-color);
    font-size: 2rem;
    font-weight: 400;
  }
  &__profile {
    background-color: aquamarine;
  }

  &__links {
    @extend .section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
    &--left {
      background-color: var(--highlight-color);
    }
    &--right {
      background-color: var(--primary-color);
    }
    a {
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.25px;
      text-decoration: none;
      padding: 2rem 0;
      text-align: center;
      text-transform: uppercase;
      &,
      &:hover,
      &:active,
      &:visited {
        color: var(--text-white-color);
      }
    }
  }
}

.children {
  height: 100vh;
  &--1 {
    @extend .children;
    background-color: bisque;
  }
  &--2 {
    @extend .children;
    background-color: greenyellow;
  }
  &--3 {
    @extend .children;
    background-color: darkgray;
  }
}
