.header {
  position: relative;
  width: 25%;
}
.fixed-area {
  position: fixed;
  min-height: 100vh;
  background-color: var(--primary-color);
}
.left-area {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}
.navigation-area {
  position: absolute;
  inset: 0;
  border-left: 1px solid var(--secondary-color);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.navigation {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;

  list-style: none;
  li {
    margin-bottom: 0.8rem;
  }
  &__link {
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.1s ease-in;
    color: var(--text-white-color);
    &:hover,
    &--active {
      @extend .navigation__link;
      color: var(--secondary-color);
    }
  }
}

.logo {
  display: block;
  color: var(--text-white-color);
  font-size: 30px;
  line-height: 30px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  &--highlight {
    color: var(--highlight-color);
  }
}
